


.gelasio-<uniquifier> {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}



h1 {font-size:2.25rem; font-family:"Ultra"; }

h2 {font-size:.8rem; font-family: "Gelasio"; border-bottom: 1px solid black;
    padding-bottom: 10px; }

h3 {background-color:#f4f4f4; font-size:1rem; font-weight: bold;

}

p {font-family: "Gelasio";}

.PhotoMtv {width: 800px;
    height: auto;
    align-content: center;

}


figcaption {
    font-size: 14px;
    color: #000;
    margin-top: 5px;
    font-style: italic;
}




}
.bodyCopy {
	padding: 50px 0 0 0;
	font-family:"Gelasio";
}
.
