body {
  background-color:#ffffff; font-family: "Gelasio", serif; color:#0000;
}


.gelasio-<uniquifier> {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {color:#000000; font-size: 2rem;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 0.5px;
}

h2 {color:#000000; font-size: .75rem; text-align: center; font-family: "Gelasio", serif;}


.leadGraph {background-color:#CDC3B7; 
  color:#000000; font-weight: normal; 
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size:1rem; padding: 10px; 
  position: center; margin: 0px, 20px, 0px, 20px;
   text-align: center;
}

.inner-box h2,
.inner-box p {
  margin-bottom: 5px;
}

.inner-box ul {
  margin-top: 0;
}
.sidebar-box {
  margin-top: -37px; 
  padding: 20px, 0px, 20px, 0p    
  width: 80%;             
  border-radius: 12px;
  background-color: #f7f7f7;
  text-align: left;      
}

.btn {
  display: block;
  background-color: #03396C;
  color: #000000;
  padding: 10px 14px;     
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;        
  margin-bottom: 10px;
  text-align: center;    
}

.box1 { padding-top: 20px;
}

.inner-box {
  padding: 15px;           
  border-radius: 12px;     
  margin-bottom: 15px;    
}


.box-wholefoods {
  background-color: #00674B;   color: #000;
}

.box-tjs{
  background-color: #D21242;   color: #000;
}

.box-top{
  background-color: #00674B; color: #000; }

a {color:#000000;}
a:hover {color:#0A94C4;}


.text-section {
  border-top: 2px solid #ccc;
  padding-top: 15px;
  margin-top: 20px;
}

.story {color: #000000;}


.secondGraph {
  background-color: #3A5F8A;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;


  padding: 32px;

  margin-left:570px;
  margin-top:-318px;
}

